.statistic {
  text-align: center;
}
.statisticTitle {
  text-transform: uppercase;
  font-weight: 700;
  color: #8f9794;
}
.statisticWrap {
  display: flex;
  justify-content: space-evenly;
}
.statistic p {
  font-size: 20px;
}
.statisticData {
  text-align: left;
}
.statistic span {
  width: 22px;
  color: #fff;
  text-align: center;
  display: inline-block;
}
.good {
  background-color: #68dd64;
}
.neutral {
  background-color: #f4f295;
}

.bad {
  background-color: #f38279;
}
